---
import '@styles/app.css';

interface Props {
	title?: string;
	description?: string;
	classList?: string;
}

const { title, description, classList } = Astro.props satisfies Props;

// Format meta tag data
const meta = {
	title: `${title ? title + ' - ' : ''}Skeleton`,
	description: description ? description : 'Skeleton is an adaptive design system powered by Tailwind CSS.',
	image:
		'https://private-user-images.githubusercontent.com/1509726/406584725-a3e45eb1-9286-4af4-b6ea-fd31d21a5a17.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3Mzc3NTI3MTksIm5iZiI6MTczNzc1MjQxOSwicGF0aCI6Ii8xNTA5NzI2LzQwNjU4NDcyNS1hM2U0NWViMS05Mjg2LTRhZjQtYjZlYS1mZDMxZDIxYTVhMTcucG5nP1gtQW16LUFsZ29yaXRobT1BV1M0LUhNQUMtU0hBMjU2JlgtQW16LUNyZWRlbnRpYWw9QUtJQVZDT0RZTFNBNTNQUUs0WkElMkYyMDI1MDEyNCUyRnVzLWVhc3QtMSUyRnMzJTJGYXdzNF9yZXF1ZXN0JlgtQW16LURhdGU9MjAyNTAxMjRUMjEwMDE5WiZYLUFtei1FeHBpcmVzPTMwMCZYLUFtei1TaWduYXR1cmU9MGYwYTY1Zjk3MTI5MWIzN2I1YmExMzA4Y2FiNWQyMWE1ZWFlY2U2NjAyNmY2OTgzMWQ3MGI5MzU1NWNmOTFlOSZYLUFtei1TaWduZWRIZWFkZXJzPWhvc3QifQ.QDE_H0oIr17gFak69Xw__AaBoJ278i8Yhq4NeXq6gL8'
};
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<title>{meta.title}</title>
		<link rel="icon" type="image/png" href="/favicon.png" />
		<!-- Meta Tags -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="title" content={meta.title} />
		<meta name="description" content={meta.description} />
		<meta
			name="keywords"
			content="design system, tailwind, tailwind css, web, ui, components, svelte, sveltekit, react, next.js, vue, nuxt, solid, solidstart, astro, vite, reactive, accessibility, typescript, css, open source, adaptive"
		/>
		<meta name="theme-color" content="#111111" />
		<meta name="author" content="Skeleton Labs" />
		<!-- Open Graph - https://ogp.me/ -->
		<meta property="og:site_name" content="Skeleton" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={`https://www.skeleton.dev${Astro.url.pathname}`} />
		<meta property="og:locale" content="en_US" />
		<meta property="og:title" content={meta.title} />
		<meta property="og:description" content={meta.description} />
		<meta property="og:image" content={meta.image} />
		<meta property="og:image:secure_url" content={meta.image} />
		<meta property="og:image:type" content="image/jpg" />
		<meta property="og:image:width" content="1707" />
		<meta property="og:image:height" content="1233" />
		<!-- Analytics -->
		<script
			type="text/partytown"
			defer
			data-domain="next.skeleton.dev"
			src="https://events.plygrnd.org/js/script.outbound-links.js"
			is:inline></script>
		<script>
			// @ts-expect-error for window.plausible
			window.plausible =
				// @ts-expect-error for window.plausible
				window.plausible ||
				function () {
					// @ts-expect-error for window.plausible
					(window.plausible.q = window.plausible.q || []).push(arguments);
				};
		</script>
	</head>
	<body class:list={[classList]} data-theme="cerberus">
		<slot />
	</body>
</html>
