---
import { Icon } from 'astro-icon/components'

// Props
// { frontmatter, frontmatterChips }
const { frontmatter } = Astro.props

// GitHub URLs
const branch: string = 'next' // FIXME
const docSite = branch === 'master' ? 'skeleton.dev' : 'next.skeleton.dev'
const githubDocsUrl = `https://github.com/skeletonlabs/skeleton/tree/${branch}/sites/${docSite}/src/content`
const githubSkeletonUrl = `https://github.com/skeletonlabs/skeleton/tree/${branch}/packages/skeleton/src`
const githubSvelteUrl = `https://github.com/skeletonlabs/skeleton/tree/${branch}/packages/skeleton-svelte`
const githubReactUrl = `https://github.com/skeletonlabs/skeleton/tree/${branch}/packages/skeleton-svelte`
---

<div class="flex gap-2 overflow-x-auto pb-2">
    {
        frontmatter.srcCore && (
            <a class="chip preset-filled-surface-200-800" href={githubSkeletonUrl + frontmatter.srcCore} target="_blank">
                <Icon name="heroicons-outline:code" />
                <span>CSS</span>
            </a>
        )
    }
    {
        frontmatter.srcSvelte && (
            <a class="chip preset-filled-surface-200-800" href={githubSvelteUrl + frontmatter.srcSvelte} target="_blank">
                <Icon name="heroicons-outline:code" />
                <span>Svelte</span>
            </a>
        )
    }
    {
        frontmatter.srcReact && (
            <a class="chip preset-filled-surface-200-800" href={githubReactUrl + frontmatter.srcReact} target="_blank">
                <Icon name="heroicons-outline:code" />
                <span>React</span>
            </a>
        )
    }
    {
        frontmatter.showDocsUrl && (
            <a class="chip preset-filled-surface-200-800" href={githubDocsUrl + Astro.url.pathname + '.mdx'} target="_blank">
                <Icon name="heroicons-outline:book-open" />
                <span>Doc</span>
            </a>
        )
    }
    {
        frontmatter.srcAlly && (
            <a class="chip preset-filled-surface-200-800" href={frontmatter.srcAlly} target="_blank">
                <Icon name="heroicons-outline:user" />
                <span>A11y</span>
            </a>
        )
    }
    <!-- <button class="chip preset-filled-surface-200-800">Foobar</button> -->
</div>
