---
import { frameworks } from '../../config/frameworks';
import { Icon } from 'astro-icon/components';

function getPathAndFramework(pathname: string) {
	const parts = pathname.split('/');
	const path = parts.slice(0, -1).join('/');
	const frameworkSlug = parts.at(-1);
	const framework = frameworks.find(({ slug }) => slug === frameworkSlug);

	if (!framework) {
		throw new Error(`Invalid framework: ${frameworkSlug}`);
	}

	return [path, framework] as const;
}

const [path, framework] = getPathAndFramework(Astro.url.pathname);

// Classes
const cBtn = 'flex justify-center items-center space-x-4 py-8 rounded-tl-container rounded-tr-container';
const cActive =
	'bg-gradient-to-b from-surface-100 dark:from-surface-900/30 to-transparent border-t border-l border-r border-surface-200-800';
const cHover =
	'hover:bg-gradient-to-t from-surface-100 dark:from-surface-900/30 to-transparent border-b border-surface-200-800';
---

{
	(
		<nav class="grid grid-cols-2">
			{frameworks.map(({ name, slug, iconName }) => (
				<a href={`${path}/${slug}`} class:list={[cBtn, framework.slug === slug ? cActive : cHover]}>
					<Icon name={iconName} size={24} />
					<span>{name}</span>
				</a>
			))}
		</nav>
	)
}
