---
const { data } = Astro.props
---

{
    Object.keys(data).map((key) => (
        <section class="space-y-4">
            {/* Label */}
            <h2 class="h2">{key}</h2>
            {/* Grid */}
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
                {data[key].map((item: any) => (
                    // Card
                    <a
                        class="docs-card-filled-flush card-hover"
                        href={`/resources/cookbook${item.link}`}
                        class:list={{
                            'opacity-30': item.disabled,
                            'pointer-events-none': item.disabled,
                        }}
                    >
                        {/* Header */}
                        <header class="p-4">
                            <h3 class="h5">{item.title}</h3>
                        </header>
                        {/* Article */}
                        <article class="h-16 px-4 space-y-4">
                            <p class="opacity-60 type-scale-1">{item.description}</p>
                        </article>
                        {/* Divider */}
                        <hr class="hr" />
                        {/* Footer */}
                        <footer class="p-4">
                            <small class="opacity-60">By {item.author}</small>
                        </footer>
                    </a>
                ))}
            </div>
        </section>
    ))
}
