---
import { getCollection } from 'astro:content';

const { collection, path, classes } = Astro.props;

// Get collection, filter by path
const collectionItems = await getCollection(collection, (item: any) => {
	if (item.slug.includes(path)) return item;
});
---

<nav class="grid grid-cols-1 gap-4" class:list={classes}>
	{
		collectionItems.map((item: any) => (
			<>
				<a
					href={`/${collection}/${item.slug}`}
					class="card border border-surface-200-800 hover:preset-filled-surface-100-900 p-4 md:p-8 space-y-2"
				>
					<h3 class="h5">{item.data.title}</h3>
					<p class="opacity-60">{item.data.description}</p>
				</a>
			</>
		))
	}
</nav>
