---
import { getEntry, render } from 'astro:content';
import RootLayout from '@/components/layouts/root-layout.astro';
import DocsLayout from '@/components/layouts/docs-layout.astro';
import { components } from '@/components/typography';
import H1 from '@/components/typography/h1.astro';

if (!Astro.params.doc) {
	return Astro.redirect('/404');
}

const doc = await getEntry('docs', Astro.params.doc);

if (!doc) {
	return Astro.redirect('/404');
}

const { Content } = await render(doc);
---

<RootLayout title={doc.data.title} description={doc.data.description}>
	<DocsLayout>
		<H1>{doc.data.title}</H1>
		<p>{doc.data.description}</p>
		<Content components={components} />
	</DocsLayout>
</RootLayout>
