---
import { components } from '@/components/typography';
import H1 from '@/components/typography/h1.astro';
import Header from '@/components/ui/header/header.astro';
import Footer from '@/components/ui/footer.astro';
import Navigation from '@/components/ui/navigation.astro';
import Alert from '@/components/ui/alert.astro';
import TableOfContents from '@/components/ui/table-of-contents.svelte';
import Advertisement from '@/components/ui/advertisement.astro';
import Breadcrumbs from '@/components/ui/breadcrumbs.astro';
import { render, type CollectionEntry } from 'astro:content';
import ChipsBar from '../ui/chips-bar.astro';
import { SquarePenIcon } from '@lucide/svelte';
import LlmMenu from '@/components/ui/large-language-models.svelte';
import NavigationSteps from '@/components/ui/navigation-steps.astro';

interface Props {
	doc: CollectionEntry<'docs'>;
}

const { doc } = Astro.props;

const { Content, headings } = await render(doc);
---

<!-- Header -->
<Header />
<!-- Page -->
<div class="container mx-auto grid grid-cols-1 xl:grid-cols-[240px_minmax(0px,_1fr)_280px] px-4">
	<!-- Sidebar (Left) - Navigation -->
	<aside
		class="hidden xl:block self-start sticky top-(--header-height) h-[calc(100vh-var(--header-height))] border-r border-surface-200-800 py-4 xl:py-10 overflow-y-auto hide-scrollbar-track pr-10"
		data-navigation
	>
		<Navigation />
	</aside>
	<!-- Main -->
	<main class="px-4 xl:px-10 py-10 space-y-8">
		<!-- header -->
		<header class="space-y-4" data-pagefind-body>
			<div class="flex justify-between items-start">
				<Breadcrumbs />
				<LlmMenu url={Astro.url} client:visible />
			</div>
			<H1>{doc.data.title}</H1>
			<p class="text-lg opacity-60">{doc.data.description}</p>
		</header>
		<!-- Stability Warning -->
		{
			doc.data.stability !== 'stable' && (
				<Alert type="warning">
					This feature is currently marked as {doc.data.stability} and not intended for production use. It may receive breaking changes
					before its stable release.
				</Alert>
			)
		}
		<!-- Chips -->
		<ChipsBar {doc} />
		<!-- Content -->
		<article class="grid gap-8" data-pagefind-body>
			<Content components={components} Astro={Astro} />
			<!-- Inner Page Navigation -->
			<NavigationSteps />
		</article>
		<!-- Suggest changes -->
		<a
			class="mt-24 flex justify-center items-center gap-2 opacity-60 hover:underline text-sm"
			href={`https://github.com/skeletonlabs/skeleton/edit/main/sites/skeleton.dev/${doc.filePath}`}
			target="_blank"
			rel="noopener noreferrer"
		>
			<SquarePenIcon class="inline-block size-4" />
			Edit this page on GitHub
		</a>
		<!-- Footer -->
		<Footer class="p-4 xl:px-0" />
	</main>
	<!-- Sidebar (Right) - Table of Contents -->
	<aside
		class="hidden xl:block sticky top-(--header-height) h-[calc(100vh-var(--header-height))] border-l border-surface-200-800 space-y-8 py-4 pl-4 xl:py-10"
	>
		<Advertisement />
		<TableOfContents {headings} client:visible />
	</aside>
</div>

<script is:inline>
	function restoreScrollPosition() {
		const NAVIGATION_SCROLL_TOP_KEY = 'navigation-scroll-top';
		const navigation = document.querySelector('[data-navigation]');
		if (!navigation) {
			return;
		}
		navigation.addEventListener('scroll', () => {
			sessionStorage.setItem(NAVIGATION_SCROLL_TOP_KEY, navigation.scrollTop.toString());
		});
		const storedScrollTop = sessionStorage.getItem(NAVIGATION_SCROLL_TOP_KEY);
		if (!storedScrollTop) {
			return;
		}
		navigation.scrollTop = storedScrollTop ? parseInt(storedScrollTop) : 0;
	}

	restoreScrollPosition();

	document.addEventListener('astro:after-swap', restoreScrollPosition);
</script>
