---
import { components } from '@/components/typography';
import H1 from '@/components/typography/h1.astro';
import Header from '@/components/ui/header/header.astro';
import Footer from '@/components/ui/footer.astro';
import Navigation from '@/components/ui/navigation.astro';
import Alert from '@/components/ui/alert.astro';
import TableOfContents from '@/components/ui/table-of-contents.svelte';
import Advertisement from '@/components/ui/advertisement.astro';
import Breadcrumbs from '@/components/ui/breadcrumbs.astro';
import { render, type CollectionEntry } from 'astro:content';

interface Props {
	doc: CollectionEntry<'docs'>;
}

const { doc } = Astro.props;

const { Content, headings } = await render(doc);
---

<Header />
<div class="container mx-auto grid grid-cols-1 xl:grid-cols-[240px_minmax(0px,_1fr)_280px] px-4">
	<aside
		class="hidden xl:block self-start sticky top-(--header-height) h-[calc(100vh-var(--header-height))] border-r border-surface-200-800 py-4 xl:py-10 overflow-y-auto hide-scrollbars pr-10"
		data-navigation
	>
		<Navigation />
	</aside>
	<main class="px-4 xl:px-10 py-10 space-y-8">
		<header class="space-y-4" data-pagefind-body>
			<Breadcrumbs />
			<H1>{doc.data.title}</H1>
			<p class="text-lg opacity-60">{doc.data.description}</p>
		</header>
		{
			doc.data.stability !== 'stable' && (
				<Alert type="warning">
					This feature is currently marked as {doc.data.stability} and not intended for production use. It may receive breaking changes
					before its stable release.
				</Alert>
			)
		}
		<article class="grid gap-8" data-pagefind-body>
			<Content components={components} Astro={Astro} />
			<slot />
		</article>
		<Footer class="p-4 xl:px-0" />
	</main>
	<aside
		class="hidden xl:block self-start sticky top-(--header-height) h-[calc(100vh-var(--header-height))] border-l border-surface-200-800 py-4 xl:py-10 space-y-8 overflow-y-auto hide-scrollbars"
	>
		<Advertisement />
		<TableOfContents {headings} client:visible />
	</aside>
</div>

<script is:inline>
	function restoreScrollPosition() {
		const NAVIGATION_SCROLL_TOP_KEY = 'navigation-scroll-top';
		const navigation = document.querySelector('[data-navigation]');
		if (!navigation) {
			return;
		}
		navigation.addEventListener('scroll', () => {
			sessionStorage.setItem(NAVIGATION_SCROLL_TOP_KEY, navigation.scrollTop.toString());
		});
		const storedScrollTop = sessionStorage.getItem(NAVIGATION_SCROLL_TOP_KEY);
		if (!storedScrollTop) {
			return;
		}
		navigation.scrollTop = storedScrollTop ? parseInt(storedScrollTop) : 0;
	}

	restoreScrollPosition();

	document.addEventListener('astro:after-swap', restoreScrollPosition);
</script>
