---
import LayoutRoot from '@lib/layouts/LayoutRoot.astro'

import AppHeader from '@lib/components/astro/Header.astro'
import AppNavigation from '@lib/components/astro/Navigation.astro'
import AppTableContents from '@lib/components/astro/TableOfContents.astro'

interface TocHeadings {
    depth: number
    slug: string
    text: string
}

interface Props {
    frontmatter: {
        category: string
        title: string
        description: string
    }
    headings: TocHeadings[]
}

const { frontmatter, headings } = Astro.props

const layoutProps = {
    title: frontmatter.title,
    classList: 'grid grid-rows-[auto_1fr] xl:grid-rows-[auto_1fr_auto]',
}

const categoryList: Record<string, string> = {
    docs: 'Documentation',
    design: 'Design',
    tailwind: 'Tailwind',
    components: 'Components',
    resources: 'Resources',
}
---

<LayoutRoot {...layoutProps}>
    <!-- Header -->
    <AppHeader />
    <!-- Page -->
    <div class="container mx-auto grid grid-cols-1 xl:grid-cols-[200px_1fr_280px]">
        <!-- Navigation -->
        <aside class="hidden xl:block self-start sticky top-0 max-h-screen overflow-y-auto p-4 xl:px-0 py-10">
            <AppNavigation />
        </aside>
        <!-- Main -->
        <main class="self-start p-4 xl:p-10 xl:pb-48 space-y-8" id="_top">
            <!-- Breadcrumbs -->
            <ol class="flex gap-2 type-scale-1">
                <li class="opacity-60">{categoryList[frontmatter.category]}</li>
                <li class="opacity-60">&rsaquo;</li>
                <li>{frontmatter.title}</li>
            </ol>
            <!-- Header -->
            <header class="space-y-2">
                <h1 class="h1">{frontmatter.title}</h1>
                <p class="opacity-60 type-scale-4">{frontmatter.description}</p>
            </header>
            <!-- Content -->
            <article class="space-y-8">
                <slot />
            </article>
        </main>
        <!-- Table of Contents -->
        <aside class="hidden xl:block self-start sticky top-0 max-h-screen overflow-y-auto p-4 xl:p-10 xl:pl-0">
            <AppTableContents {headings} />
        </aside>
    </div>
    <!-- Footer -->
    <footer class="border-t border-surface-200-800 p-4 xl:p-10">
        <div class="container mx-auto">
            <p class="opacity-60">Built by Skeleton Labs.</p>
        </div>
    </footer>
</LayoutRoot>
