---
import LayoutRoot from '@lib/layouts/LayoutRoot.astro'

import AppHeader from '@lib/components/astro/Header.astro'
import AppNavigation from '@lib/components/astro/Navigation.astro'
import AppTableContents from '@lib/components/astro/TableOfContents.astro'

interface TocHeadings {
    depth: number
    slug: string
    text: string
}

interface Chip {
    label: string
    href: string
    icon?: string
    preset?: string
}

interface Props {
    frontmatter: {
        // Required ---
        title: string
        description: string
        // Optional ---
        srcCore?: string
        srcSvelte?: string
        srcReact?: string
        showDocsUrl?: boolean
        chips?: Chip[]
    }
    headings: TocHeadings[]
}

// Props
const { frontmatter, headings } = Astro.props
// Breadcrumbs
const breacrumbs = Astro.url.pathname
    .split('/')
    .filter((v) => v !== '')
    .map((v) => v.replace('-', ' '))
// GitHub URLs
const branch: string = 'next' // FIXME
const docSite = branch === 'master' ? 'skeleton.dev' : 'next.skeleton.dev'
const githubDocsUrl = `https://github.com/skeletonlabs/skeleton/tree/${branch}/sites/${docSite}/src/pages`
const srcCoreUrl = `https://github.com/skeletonlabs/skeleton/tree/${branch}/packages/skeleton/src`
const githubSvelteUrl = `https://github.com/skeletonlabs/skeleton/tree/${branch}/packages/skeleton-svelte`
const githubReactUrl = `https://github.com/skeletonlabs/skeleton/tree/${branch}/packages/skeleton-svelte`
// Layout Props
const layoutProps = {
    title: frontmatter.title,
    classList: 'grid grid-rows-[auto_1fr] xl:grid-rows-[auto_1fr_auto]',
}
// Breadcrumb Categories
const breadcrumbs: Record<string, string> = {
    docs: 'Documentation',
    design: 'Design',
    tailwind: 'Tailwind',
    components: 'Components',
    resources: 'Resources',
}
---

<LayoutRoot {...layoutProps}>
    <!-- Header -->
    <AppHeader />
    <!-- Page -->
    <div class="container mx-auto grid grid-cols-1 xl:grid-cols-[200px_1fr_280px]">
        <!-- Navigation -->
        <aside class="hidden xl:block self-start sticky top-0 max-h-screen overflow-y-auto p-4 xl:px-0 py-10">
            <AppNavigation />
        </aside>
        <!-- Main -->
        <main class="self-start p-4 xl:p-10 xl:pb-48 space-y-8" id="_top">
            <!-- Breadcrumbs -->
            <ol class="flex gap-2 type-scale-1">
                {
                    breacrumbs.map((crumb: string, i: number) => (
                        <>
                            <li class="capitalize" class:list={{ 'opacity-60 ': i !== breacrumbs.length - 1 }}>
                                {crumb}
                            </li>
                            {i !== breacrumbs.length - 1 && <li class="opacity-60">&rsaquo;</li>}
                        </>
                    ))
                }
            </ol>
            <!-- Header -->
            <header class="space-y-2">
                <h1 class="h1">{frontmatter.title}</h1>
                <p class="opacity-60 type-scale-4">{frontmatter.description}</p>
            </header>
            <!-- Chips -->
            <!-- prettier-ignore -->
            <div class="flex gap-2 overflow-x-auto pb-2">
                <!-- Tailwind Source -->
                {frontmatter.srcCore && (
                    <a class="chip preset-tonal" href={srcCoreUrl + frontmatter.srcCore} target="_blank">
                        {/* <span>&bull;</span> */}
                        <span>CSS Source</span>
                    </a>
                )}
                <!-- Svelte Source -->
                {frontmatter.srcSvelte && (
                    <a class="chip preset-tonal" href={githubSvelteUrl + frontmatter.srcSvelte} target="_blank">
                        {/* <span>&bull;</span> */}
                        <span>Svelte Source</span>
                    </a>
                )}
                <!-- Svelte Source -->
                {frontmatter.srcReact && (
                    <a class="chip preset-tonal" href={githubReactUrl + frontmatter.srcReact} target="_blank">
                        {/* <span>&bull;</span> */}
                        <span>React Source</span>
                    </a>
                )}
                <!-- Doc Source -->
                {frontmatter.showDocsUrl && (
                    <a class="chip preset-tonal" href={githubDocsUrl + Astro.url.pathname} target="_blank">
                        {/* <span>&bull;</span> */}
                        <span>Doc Source</span>
                    </a>
                )}
                <!-- Overflow -->
                <!-- <button class="chip preset-tonal">Foobar</button> -->
            </div>
            <!-- Content -->
            <article class="space-y-8">
                <slot />
            </article>
        </main>
        <!-- Table of Contents -->
        <aside class="hidden xl:block self-start sticky top-0 max-h-screen overflow-y-auto p-4 xl:p-10 xl:pl-0">
            <AppTableContents {headings} />
        </aside>
    </div>
    <!-- Footer -->
    <footer class="border-t border-surface-200-800 p-4 xl:p-10">
        <div class="container mx-auto">
            <p class="opacity-60">Built by Skeleton Labs.</p>
        </div>
    </footer>
</LayoutRoot>
