---
import LayoutRoot from "@lib/layouts/LayoutRoot.astro";
import AppHeader from "@lib/components/AppHeader/AppHeader.astro";
import AppNavigation from "@lib/components/AppNavigation/AppNavigation.astro";

interface Props {
    /** 0: Tailwind, 1: Components */
    categoryId: number;
    /** The page title. */
    title: string;
    /** The page description. */
    description: string;
    /** Enable/Disable the Preview section. */
    preview?: boolean;
}

const categories = [
    'Docs',
    'Tailwind',
    'Components'
];

const {
    categoryId = 0,
    title = "(title missing)",
    description = '(description missing)',
    preview = true
} = Astro.props;

const layoutProps = {
    title
}
---

<LayoutRoot {...layoutProps}>
    <div class="relative flex min-h-screen flex-col bg-background">
        <!-- Header -->
        <AppHeader />
        <!-- Content -->
        <section class="
            container mx-auto
            flex-1 items-start
            md:grid md:grid-cols-[220px_minmax(0,1fr)]
            lg:grid-cols-[240px_minmax(0,1fr)]
        ">
            <!-- Navigation -->
            <AppNavigation classList="fixed top-14 z-30 hidden h-[calc(100vh-3.5rem)] w-full shrink-0 md:sticky md:block" />
            <!-- Page -->
            <main class="relative xl:grid xl:grid-cols-[1fr_300px]">
                <!-- Page Content -->
                <div class="mx-auto w-full min-w-0 p-4 md:p-10">
                    <div class="space-y-10">
                        <!-- Breadcrumbs -->
                        <div class="flex gap-2 text-xs">
                            <span class="opacity-60">{categories[categoryId]}</span>
                            <span class="opacity-60">&rsaquo;</span>
                            <span>{title}</span>
                        </div>
                        <!-- Header -->
                        <header class="space-y-4">
                            <h1 class="h1">{title}</h1>
                            <p class="opacity-60">{description}</p>
                        </header>
                        <!-- Preview -->
                        {preview && (
                            <section class="card p-8 bg-surface-100-900 border border-surface-200-800 rounded-container">
                                <slot name="preview">
                                    <p>({title} preview missing)</p>
                                </slot>
                            </section>
                        )}
                        <!-- Content -->
                        <slot />
                    </div>
                </div>
                <!-- Table of Contents -->
                <div class="hidden text-sm xl:block">
                    <div class="sticky top-16 -mt-10 pt-10">
                        <p class="opacity-60">(sidebar)</p>
                    </div>
                </div>
            </main>
        </section>
        <!-- Footer -->
        <footer class="border-t border-surface-800 py-6 md:px-8 md:py-0">
            <div class="container mx-auto flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row">
                <p class="opacity-60">Built by Skeleton Labs.</p>
            </div>
        </footer>
    </div>
</LayoutRoot>