---
import LayoutRoot from "@lib/layouts/LayoutRoot.astro";
import AppHeader from "@lib/components/AppHeader/AppHeader.astro";
import AppNavigation from "@lib/components/AppNavigation/AppNavigation.astro";

interface Props {
    /** 0: Tailwind, 1: Components */
    categoryId: number;
    /** The page title. */
    title: string;
    /** The page description. */
    description: string;
    /** Enable/Disable the Preview section. */
    preview?: boolean;
}

const categories = [
    'Docs',
    'Tailwind',
    'Components'
];

const {
    categoryId = 0,
    title = "(title missing)",
    description = '(description missing)',
    preview = true
} = Astro.props;
---
<LayoutRoot>
    <div class="h-screen grid grid-rows-[auto_1fr]">
        <!-- App Header -->
        <AppHeader />
        <!-- App Content -->
        <section class="container mx-auto grid grid-cols-[280px_1fr_280px]">
            <!-- Navigation -->
            <AppNavigation />
            <!-- Main -->
            <main class="p-10 overflow-y-auto">
                <div class="space-y-10">
                    <!-- Breadcrumbs -->
                    <div class="flex gap-2 text-xs">
                        <span class="opacity-50">{categories[categoryId]}</span>
                        <span class="opacity-50">&rsaquo;</span>
                        <span>{title}</span>
                    </div>
                    <!-- Header -->
                    <header class="space-y-4">
                        <h1 class="h1">{title}</h1>
                        <p class="text-lg opacity-50">{description}</p>
                    </header>
                    <!-- Preview -->
                    {preview && (
                        <section class="card p-10 variant-ringed-surface">
                            <slot name="preview">
                                <p>({title} preview missing)</p>
                            </slot>
                        </section>
                    )}
                    <!-- Content -->
                    <slot />
                </div>
            </main>
            <!-- Table of Contents -->
            <aside class="p-10">
                <!-- <p class="opacity-50">(sidebar)</p> -->
            </aside>
        </section>
        <!-- App Footer -->
        <footer class="border-t border-surface-800 p-10">
            <div class="container mx-auto">
                <p class="opacity-50">Built by Skeleton Labs.</p>
            </div>
        </footer>
    </div>
</LayoutRoot>