---
import { getEntry, type CollectionEntry } from 'astro:content';
import Code from '@/components/ui/code.svelte';
import { LOAD_COMPONENT_COLLECTION } from 'astro:env/server';

interface Props {
	id: CollectionEntry<'components'>['id'];
}

const { id } = Astro.props;

const component = LOAD_COMPONENT_COLLECTION === '1' && (await getEntry('components', id));

function kebabToPascal(str: string) {
	return str
		.split('-')
		.map((part) => part.charAt(0).toUpperCase() + part.slice(1))
		.join('');
}

if (LOAD_COMPONENT_COLLECTION === '1' && !component) {
	throw new Error(`Unable to load component information for ${id}`);
}
---

{
	!component ? (
		<p class="italic text-sm opacity-50">Unable to load component information for {id}</p>
	) : (
		component.data.types.map((type) => (
			<>
				<h3 class="h3">
					{type.name
						.replace(kebabToPascal(id.split('/').at(-1) ?? ''), '')
						.replace('Props', '')
						.replace('Root', '') || 'Root'}
				</h3>
				{type.metadata.classValue && type.metadata.classValue !== "''" && <Code code={type.metadata.classValue} client:visible />}
				<div class="table-wrap card border border-surface-200-800 rounded-container">
					<table class="table">
						<thead class="bg-surface-100-900/50">
							<tr>
								<th>Prop</th>
								<th>Default</th>
								<th>Type</th>
							</tr>
						</thead>
						<tbody class="[&>tr]:hover:preset-tonal">
							{type.props.map((property) => (
								<tr class="align-top text-xs">
									<td>
										<code class="code">{property.name}</code>
									</td>
									<td>
										{property.JSDoc && property.JSDoc.tags.some((tag) => tag.name === 'default') ? (
											<span class="whitespace-nowrap">{property.JSDoc.tags.find((tag) => tag.name === 'default')?.value}</span>
										) : (
											<span class="opacity-50">&mdash;</span>
										)}
									</td>
									<td class="flex flex-col items-start gap-2">
										<span class="badge preset-tonal whitespace-pre-wrap">{property.type}</span>
										<p>{property.JSDoc.description}</p>
									</td>
								</tr>
							))}
						</tbody>
					</table>
				</div>
			</>
		))
	)
}
