---
import Drawer from '@/components/ui/drawer';
import LightSwitch from '@/components/ui/light-switch';
import Navigation from '@/components/ui/navigation';
import { Icon } from 'astro-icon/components';
import { socialLinks } from '@/lib/social-links';
import HeaderSponsors from '@/components/ui/header-sponsors';
import HeaderThemes from '@/components/ui/header-themes';
import HeaderVersion from '@/components/ui/header-version';
import Search from '@/components/ui/search';
import { commonNavigationGroups } from '@/lib/navigation';

const coreLinks = [
	{ href: '/docs/get-started/introduction', title: 'Docs' },
	{ href: '/news', title: 'News' },
	{ href: 'https://themes.skeleton.dev/', title: 'Themes', target: '_blank' },
	{ href: '/figma', title: 'Figma' },
];
const versionLinks = [
	{ href: 'https://v1.skeleton.dev/', title: 'Version 1', target: '_blank' },
	{ href: 'https://v2.skeleton.dev/', title: 'Version 2', target: '_blank' },
	{ href: 'https://v3.skeleton.dev/', title: 'Version 3', target: '_blank' },
];

const navigationGroups = [
	{
		title: 'Overview',
		items: coreLinks,
	},
	...commonNavigationGroups,
	{
		title: 'Previous Versions',
		items: versionLinks,
	},
];
---

<header class="sticky top-0 z-50 border border-surface-100-900/30 bg-surface-50-950/75 backdrop-blur-lg w-full h-[70px] flex items-center">
	<div
		class="container mx-auto grid max-w-screen-2xl grid-cols-[auto_1fr_auto] xl:grid-cols-[1fr_auto_1fr] items-center gap-4 px-4 xl:px-10"
	>
		<div class="flex items-stretch justify-start gap-4">
			<Drawer>
				<Navigation navigationGroups={navigationGroups} url={Astro.url} client:load />
			</Drawer>
			<a class="hidden xl:inline-block" href="/" title="Skeleton">
				<Icon name="skeleton" size={32} />
			</a>
			<div class="hidden xl:flex items-center">
				<HeaderVersion client:load />
				{
					coreLinks.map((link) => (
						<a class="btn hover:preset-tonal" href={link.href} target={link.target}>
							{link.title}
						</a>
					))
				}
			</div>
		</div>
		<div class="flex items-center gap-2">
			<Search client:load />
		</div>
		<div class="flex justify-end items-stretch gap-2">
			<LightSwitch client:load />
			<HeaderThemes client:load />
			<span class="border-r border-surface-200-800"></span>
			<nav class="flex items-center gap-1">
				{
					socialLinks.slice(0, 2).map((link) => (
						<a class="btn-icon hover:preset-tonal" href={link.href} target="_blank" title={link.label} aria-label={link.label}>
							<Icon name={link.icon} size={20} />
						</a>
					))
				}
			</nav>
			<span class="hidden xl:inline-block border-r border-surface-200-800"></span>
			<HeaderSponsors client:load />
		</div>
	</div>
</header>
