---
import Skeleton from '@/assets/branding/skeleton.svg';
import FrameworkPicker from '@/components/ui/framework-picker.svelte';
import { getRelativeDocsUrl } from '@/modules/framework';

import { getCollection } from '@/modules/content';
import { getActiveFramework } from '@/modules/framework';

const links = [
	{ href: await getRelativeDocsUrl(Astro, '/get-started/introduction'), title: 'Docs' },
	{ href: '/news', title: 'News' },
	{ href: '/showcase', title: 'Showcase' },
	{ href: 'https://themes.skeleton.dev/', title: 'Themes', target: '_blank' },
	{ href: '/figma', title: 'Figma' },
];

const frameworks = await getCollection('frameworks');
const activeFramework = getActiveFramework(Astro);
---

<header
	class="z-50 sticky top-0 border border-surface-100-900/30 bg-surface-50-950/75 backdrop-blur-lg h-(--header-height) flex items-center"
>
	<div class="container mx-auto px-4 flex items-center justify-between gap-4">
		<nav class="flex justify-center items-center gap-4">
			<a class="hidden xl:inline-block" href="/" title="Skeleton">
				<Skeleton class="size-6 fill-current" />
			</a>
			<div class="hidden xl:flex items-center">
				{
					links.map((link) => (
						<a class="btn btn-sm hover:preset-tonal text-sm" href={link.href} target={link.target}>
							{link.title}
						</a>
					))
				}
			</div>
		</nav>
		<FrameworkPicker {frameworks} {activeFramework} client:visible />
	</div>
</header>
