---
import { getActiveFramework } from '@/modules/framework';
import { commonSections, type Section } from '@/modules/navigation';

interface Props {
	sections?: Section[];
}

const { sections = commonSections } = Astro.props;

const activeFramework = await getActiveFramework(Astro);
---

<div class="text-sm grid gap-10">
	{
		sections.map((section) => (
			<nav class="flex flex-col gap-2">
				<span class="text-[13px] font-bold ml-2">{section.label}</span>
				<ul class="flex flex-col gap-1">
					{section.items.map((doc) => (
						<li>
							<a
								href={`/${doc.collection}/${activeFramework.id}/${doc.id}`}
								title={doc.data.title}
								class="flex justify-between items-center"
							>
								<span
									aria-current={Astro.url.pathname === doc.id ? 'page' : 'false'}
									class="grow px-2 py-1 rounded-base aria-[current=false]:anchor aria-[current=page]:preset-tonal"
								>
									{doc.data.title}
								</span>
								{doc.data.stability !== 'stable' && (
									<span class="no-underline preset-tonal-primary text-xs px-1 capitalize rounded">{doc.data.stability}</span>
								)}
							</a>
						</li>
					))}
				</ul>
			</nav>
		))
	}
</div>
