---
import { getCollection } from '@/modules/content';

const docs = await getCollection('docs', (item) => {
	if (item.filePath?.includes('guides/cookbook/')) {
		return item;
	}
});
---

<div class="table-wrap">
	<table class="table">
		<tbody class="[&>tr]:hover:preset-tonal">
			{
				docs.map((doc) => (
					<tr title={doc.data.description}>
						<td class="font-bold">{doc.data.title}</td>
						<td>
							<div class="flex flex-wrap gap-2">
								{doc.data.tags?.map((tag: string) => (
									<span class="badge preset-tonal-primary">{tag}</span>
								))}
							</div>
						</td>
						<td class="text-right">
							<a href={`/${doc.collection}/${doc.id}`} class="btn preset-tonal hover:preset-filled">
								Explore &rarr;
							</a>
						</td>
					</tr>
				))
			}
		</tbody>
	</table>
</div>
