---
import { render } from 'astro:content';
import RootLayout from '@/components/layouts/root-layout.astro';
import DocsLayout from '@/components/layouts/docs-layout.astro';
import { getCollection } from 'astro:content';
import { components } from '@/components/typography';
import H1 from '@/components/typography/h1.astro';

export async function getStaticPaths() {
	const frameworks = await getCollection('frameworks');
	const docs = await getCollection('docs');
	return frameworks.flatMap((framework) =>
		docs.map((doc) => ({
			params: {
				framework: framework.id,
				doc: doc.id,
			},
			props: {
				doc: doc,
			},
		})),
	);
}

const { doc } = Astro.props;

const { Content } = await render(doc);
---

<RootLayout title={doc.data.title} description={doc.data.description}>
	<DocsLayout>
		<H1>{doc.data.title}</H1>
		<p>{doc.data.description}</p>
		<Content components={components} />
	</DocsLayout>
</RootLayout>
