---
import Footer from '@/components/ui/footer.astro';
import Header from '@/components/ui/header.astro';
import Layout from '@/components/ui/layout.astro';
import { bluesky } from '@/modules/bluesky';
import Bluesky from '@/assets/logos/bluesky.svg';

export const prerender = false;

const response = await bluesky.getAuthorFeed({
	actor: 'skeleton.dev',
	filter: 'posts_no_replies',
	limit: 15,
});

const posts = response.data.feed
	.filter((item) => {
		return item.post.author.handle === 'skeleton.dev';
	})
	.map((item) => item.post);
---

<Layout title="News" description="Stay up to date with the latest news about Skeleton.">
	<Header />
	<main class="max-w-3xl mx-auto space-y-10 px-4 py-10">
		<header class="flex justify-between items-center">
			<h2 class="h2">Latest News</h2>
			<a class="btn preset-outlined-surface-200-800 hover:preset-tonal" href="https://bsky.app/profile/skeleton.dev" target="_blank">
				<Bluesky class="size-5" />
				<span>Feed</span>
			</a>
		</header>
		<div class="grid gap-8">
			{
				posts.map((post) => (
					<a
						href={`https://bsky.app/profile/${post.author.handle}/post/${post.uri.split('/').at(-1)}`}
						target="_blank"
						rel="noopener noreferrer"
						class="block"
					>
						<article class="card preset-outlined-surface-200-800 hover:preset-tonal p-4 xl:p-10 space-y-4">
							<header class="flex justify-between items-center">
								<img
									class="w-10 rounded-full overflow-hidden"
									src="https://avatars.githubusercontent.com/u/118298875?s=400&u=66ff2a8ff80de0400757270d5a4eb90d61c867f1&v=4"
									alt="avatar"
								/>
								<small class="opacity-60">{new Date(String(post.record.createdAt)).toLocaleString()}</small>
							</header>
							<p class="xl:text-lg">{post.record.text}</p>
							<footer class="space-y-4">
								{post.embed &&
									('external' in post.embed && typeof post.embed['external'] === 'object' ? (
										<div class="block">
											{post.embed.external.thumb ? (
												<img
													class="w-full bg-surface-500/10 hover:bg-surface-500 p-0.5 rounded-container overflow-hidden shadow"
													src={post.embed.external.thumb}
													alt={post.embed.external.title}
												/>
											) : (
												<div class="card preset-outlined-surface-200-800 p-4 text-surface-800-200">{post.embed.external.title}</div>
											)}
										</div>
									) : 'images' in post.embed && Array.isArray(post.embed.images) ? (
										post.embed.images.map((image) => (
											<img
												class="w-full bg-surface-500/10 p-1 rounded-container overflow-hidden shadow"
												src={image.thumb}
												alt={image.alt}
											/>
										))
									) : null)}
							</footer>
						</article>
					</a>
				))
			}
		</div>
		<div class="flex justify-center">
			<a class="btn preset-filled" href="https://bsky.app/profile/skeleton.dev" target="_blank">
				<span>View More</span>
				<span>&rarr;</span>
			</a>
		</div>
	</main>
	<Footer />
</Layout>
