---
import { getActiveFramework } from '@/modules/get-active-framework';
import { getCollection } from 'astro:content';

const frameworks = await getCollection('frameworks');
const activeFramework = await getActiveFramework(Astro.cookies);
---

<select id="framework-select" class="select w-fit" value={activeFramework.id} aria-label="Select Framework" title="Select Framework">
	{
		frameworks.map((framework) => (
			<option value={framework.id} selected={activeFramework.id === framework.id}>
				{framework.data.name}
				{framework.data.logo && <img src={framework.data.logo} alt={`${framework.data.name} icon`} class="inline size-4 ml-2" />}
			</option>
		))
	}
</select>

<script>
	import { actions } from 'astro:actions';
	import { navigate } from 'astro:transitions/client';

	document.addEventListener('astro:page-load', () => {
		const select = document.querySelector<HTMLSelectElement>('#framework-select');
		select?.addEventListener('change', async () => {
			select.disabled = true;
			await actions.setFramework(select.value);
			await navigate(window.location.pathname, {
				history: 'replace',
			});
		});
	});
</script>
