---
// Stores
// Components
import Drawer from '@/components/docs/drawer.astro';
import LightSwitch from '@/components/docs/light-switch';
import Navigation from '@/components/docs/navigation.astro';
// Icons
import { Icon } from 'astro-icon/components';
import { socialLinks } from '@/lib/social-links';

import { HeaderSponsors } from '@/components/docs/header-sponsors';
import { HeaderThemes } from '@/components/docs/header-themes';
import { HeaderVersion } from '@/components/docs/header-version';
import Search from '@/components/docs/search';

const coreLinks = [
	{ href: '/docs/get-started/introduction', title: 'Docs' },
	{ href: '/news', title: 'News' },
	{ href: 'https://themes.skeleton.dev/', title: 'Themes', target: '_blank' },
	{ href: '/figma', title: 'Figma' },
];
const versionLinks = [
	{ href: 'https://v1.skeleton.dev/', title: 'Version 1', target: '_blank' },
	{ href: 'https://v2.skeleton.dev/', title: 'Version 2', target: '_blank' },
	{ href: 'https://v3.skeleton.dev/', title: 'Version 3', target: '_blank' },
];
---

<header class="sticky top-0 z-50 border border-surface-100-900/30 bg-surface-50-950/75 backdrop-blur-lg w-full h-[70px] flex items-center">
	<div
		class="container mx-auto grid max-w-screen-2xl grid-cols-[auto_1fr_auto] xl:grid-cols-[1fr_auto_1fr] items-center gap-4 px-4 xl:px-10"
	>
		<!-- Left -->
		<div class="flex items-stretch justify-start gap-4">
			<!-- Mobile Nav Drawer -->
			<Drawer>
				<Navigation
					topGroups={[{ title: 'Overview', items: coreLinks }]}
					bottomGroups={[{ title: 'Previous Versions', items: versionLinks }]}
				/>
			</Drawer>
			<!-- Logo -->
			<a class="hidden xl:inline-block" href="/" title="Skeleton">
				<Icon name="skeleton" size={32} />
			</a>
			<div class="hidden xl:flex items-center">
				<!-- Version Picker -->
				<HeaderVersion client:load />
				<!-- Navigation -->
				{
					coreLinks.map((link) => (
						<a class="btn hover:preset-tonal" href={link.href} target={link.target}>
							{link.title}
						</a>
					))
				}
			</div>
		</div>
		<!-- Middle -->
		<div class="flex items-center gap-2">
			<!-- Search -->
			<Search client:load />
		</div>
		<!-- Right -->
		<!-- <div class="hidden xl:flex items-center justify-end gap-2"> -->
		<div class="flex justify-end items-stretch gap-2">
			<!-- Mode and Theme -->
			<LightSwitch client:load />
			<HeaderThemes client:load />
			<!-- Divider -->
			<span class="border-r border-surface-200-800"></span>
			<!-- Social -->
			<nav class="flex items-center gap-1">
				{
					socialLinks.slice(0, 2).map((link) => (
						<a class="btn-icon hover:preset-tonal" href={link.href} target="_blank" title={link.label} aria-label={link.label}>
							<Icon name={link.icon} size={20} />
						</a>
					))
				}
			</nav>
			<!-- Divider -->
			<span class="hidden xl:inline-block border-r border-surface-200-800"></span>
			<!-- Sponsors -->
			<div>
				<HeaderSponsors client:load />
			</div>
		</div>
	</div>
</header>
