---
import LayoutDocs from "@lib/layouts/LayoutDocs.astro";

const layoutProps = {
    categoryId: 3,
    title: 'Cookbook',
    description: 'A collection of recipes for crafting complex UI that combines Skeleton and Tailwind primitives.',
    preview: false
};

// Title, relative link, and description.
const categories: any = {
    'Basic': [
        {
            title: 'Alerts',
            link: '/alerts',
            desc: 'Customizable alerts to attract attention and provide critical actions.',
            author: 'Skeleton Labs'
        },
        {
            title: 'Breadcrumbs',
            link: '/breadcrumbs',
            desc: 'Displays the current navigation hierarchy.',
            author: 'Skeleton Labs'
        },
        {
            title: 'Logo Clouds',
            link: '/logo-clouds',
            desc: 'Provides a grid for presenting a set of logos, brands, or sponsors.',
            author: 'Skeleton Labs'
        },
        {
            title: 'Gradient Text',
            link: '/gradient-text',
            desc: 'Create gradient-colored text styles.',
            author: 'Skeleton Labs',
            disabled: true
        },
        {
            title: 'Image Layouts',
            link: '/image-layouts',
            desc: 'Various layouts for displaying images.',
            author: 'Skeleton Labs',
            disabled: true
        },
    ],
    'Intermediate': [
        {
            title: 'Scroll Containers',
            link: '/scroll-containers',
            desc: 'Create scrolling containers using the scroll snap features from Tailwind.',
            author: 'Skeleton Labs',
            disabled: true
        }
    ],
    'Advanced': [
        {
            title: 'Chat',
            link: '/chat-ai',
            desc: 'Create a custom chat feed or AI prompt interface.',
            author: 'Skeleton Labs',
            disabled: true
        },
    ],
};
---

<LayoutDocs {...layoutProps}>
    {Object.keys(categories).map((category, i) => (
        <section class="space-y-4">
            <h2 class="h2">{category}</h2>
            <div class="grid grid-cols-3 gap-4">
                {categories[category].map((item: any) => (
                    <a
                        class="docs-card-filled card-hover space-y-4 p-4"
                        href={`/resources/cookbook${item.link}`}
                        class:list={{
                            'opacity-50': item.disabled,
                            'pointer-events-none': item.disabled,
                        }}
                    >
                        <header>
                            <h3 class="h5">{item.title}</h3>
                        </header>
                        <article class="h-12 space-y-4">
                            <p class="opacity-60 type-scale-1">{item.desc}</p>
                        </article>
                        <hr class="hr">
                        <footer>
                            <small class="opacity-60">By {item.author}</small>
                        </footer>
                    </a>
                ))}
            </div>
        </section>
    ))}
</LayoutDocs>
